.btn {
  @include pxRem(padding, 6 30);
  @include pxRem(border-radius, 5);
  @include pxRem(font-size, 16.5);
  @include pxRem(height, 42);
  background: map-get($colors, bg-blue);
  color: map-get($colors, white);
  @include pxRem(line-height, 30);
  font-weight: map-get($font-weight, medium);
  cursor: pointer;
  transition: background 400ms ease;
  border: 1px solid map-get($colors, border-blue);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &:hover {
  color: map-get($colors, bg-blue);
  background: map-get($colors, white);
  }
  &:focus {
    outline: none;
  }
  &.disabled,
  &:disabled {
    pointer-events: none;
    color: map-get($colors, txt-disabled);
    border-color: map-get($colors, txt-disabled);
    background: map-get($colors, bg-gray-light);
  }
}
button[type=submit] {
  &:hover {
  color: map-get($colors, white);
    background-color: #1d293f;
    }
}
